/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background: url("orangkerja.jpg") no-repeat center center fixed; /* Add background image */
  background-size: cover; /* Cover the whole page */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Header and Navbar styling */
header {
  background-color: #fff;
  color: #003366;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links.left {
  justify-content: center;
}

.nav-links.right {
  justify-content: flex-end;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #003366;
  text-decoration: none;
  font-size: 16px;
}

.auth {
  display: flex;
}

.auth a.btn {
  background-color: #1a73e8;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.auth a.btn:hover {
  background-color: #0c59d1;
}

/* Form container styling */
.form-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  margin: 0 20px;
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container button.btn {
  width: 100%;
  padding: 10px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button.btn:hover {
  background-color: #0c59d1;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}

.login-link a {
  color: #1a73e8;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
